  <!doctype html>  
  <html lang="en">  
  <head>  
    <meta charset="utf8">  
    <title>Songy Songs</title>  
    <link href="/style.css" rel="stylesheet">  
  </head>  
  <body>  
    <div id="header"> 
      <h1><a href="/">Songy Songs</a></h1>  
    </div> 

    <div id="main">  
      <%= yield %>  
    </div>  

   <a href="/add">
    <div id="footer">
      <small>This is an little tiny footer. Click it to add a song.</small>
    </div>
  </a>
  </body>  
  </html> 

