  <!doctype html>  
  <html lang="en">  
  <head>  
    <meta charset="utf8">  
    <title>Mappy Maps</title>  
    <link href="/style.css" rel="stylesheet">  
  </head>  
  <body>  
    <div id="header"> 
      <h1><a href="/">Mappy Maps</a></h1>  
      <h2>There are no maps, yet.</h2>  
    </div> 

    <div id="main">  
      <%= yield %>  
    </div>  

    <div id="footer">
      <small>This is an little tiny footer.</small>
    </footer> 
  </body>  
  </html> 