<div id="maps_page">
	<p>But later, this page will be about maps.</p>
	<ul>
		<li>It will be cool - you will be able to see states, and cities and other places you might want to go...</li>
		<li>...but right now it is definitely not a map.</li>
	</ul>
</div>